* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    overflow-x: hidden;
    margin: 0;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 0, 136, 0.3), rgba(5, 0, 136, 0.3)), url(../static/back.png);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 18px 8%;
    transition: background 1s;
}

nav .logo {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    color: #FFF;
}

nav .logo img {
    width: 40px;
    margin-right: 10px;
}

.content {
    margin-top: 9%;
    margin-left: 9%;
    color: #FFF;
}

.content h1 {
    font-size: 120PX;
    font-weight: 600;
    line-height: 140px;
    font-family: Brush Script MT, cursive;
}

.btn {
    border: 2px solid #fff;
    padding: 10px 35px;
    border-radius: 30px;
    margin-right: 15px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.btn:hover {
    background-color: rgb(0, 195, 255);
}

.slide-left {
    animation: slideleft 1s linear forwards;
}

@keyframes slideleft {
    0% {
        transform: translate(100px);
        opacity: 0;
    }
    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

/* Chatbot Styles */
/* 
.chat-icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    z-index: 1000;
}

.chat-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.chat-icon:hover {
    transform: scale(1.1);
}

.chat-notification {
    position: absolute;
    bottom: 80px;
    right: 20px;
    background: #fff;
    color: #333;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    white-space: nowrap;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.chatbox-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 350px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: none;
    transform: translateY(20px);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
} */
