<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy_Books</title>
    <link rel="stylesheet" href="../static/BookStyles.css">
    <link rel="shortcut icon" href="../static/bookimg.png" type="image/x-icon">
  </head>

  <body>
    <div class="header">
        <h1>Recommended For You</h1>
      <div class="box">
        <a
          href="https://www.google.co.in/books/edition/The_Wonderful_Things_You_Will_Be/NUK2DwAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Happy_Books/bg1.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/The_Way_I_Used_to_Be/YuCfEAAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Happy_Books/bg2.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/Book_Lovers/Ju5nEAAAQBAJ?hl=en"
          ><img src="../static/Happy_Books/bg3.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/A_Little_Life/2caVCwAAQBAJ?hl=en"
          ><img src="../static/Happy_Books/bg4.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/Strategy_for_You/Yuq9CvduWq4C?hl=en&gbpv=0"
          ><img src="../static/Happy_Books/bg5.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/Lilac_Girls/6pcmCgAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Happy_Books/bg6.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/Reading_the_World/WgGrBAAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Happy_Books/bg7.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/If_It_Makes_You_Happy/GBhlDwAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Happy_Books/bg8.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/In_My_Heart/WkpVEAAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Happy_Books/bg9.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/Atomic_Habits/fFCjDQAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Happy_Books/bg10.png"
        /></a>
      </div>
    </div>
  </body>
</html>
