<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neutral_Books</title>
    <link rel="stylesheet" href="../static/BookStyles.css" />
    <link rel="shortcut icon" href="../static/bookimg.png" type="image/x-icon">

  </head>

  <body>
    <div class="header">
      <h1>Recommended For You</h1>
      <div class="box">
        <a
          href="https://www.google.co.in/books/edition/Stuck_in_Neutral/DVU0f2B1GlEC?hl=en&gbpv=0"
          ><img src="../static/Neutral_Books/bg1.png" alt="Book 1"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/You_Can_t_Be_Neutral_on_a_Moving_Train/YAQEDgAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Neutral_Books/bg2.png" alt="Book 2"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/Dangerous/oa7fAgAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Neutral_Books/bg3.png" alt="Book 3"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/Becoming_a_Reading_Teacher/E2WuEAAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Neutral_Books/bg4.png" alt="Book 4"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/A_Child_s_Garden_of_Verses/uyKvEAAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Neutral_Books/bg5.png" alt="Book 5"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/One_for_the_Books/GFgVC87SdQ0C?hl=en&gbpv=0"
          ><img src="../static/Neutral_Books/bg6.png" alt="Book 6"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/Unless/SRCbRvcthKAC?hl=en&gbpv=0"
          ><img src="../static/Neutral_Books/bg7.png" alt="Book 7"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/Life_Happens_Next/G37UhnxQUK4C?hl=en&gbpv=0"
          ><img src="../static/Neutral_Books/bg8.png" alt="Book 8"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/Getting_to_Neutral/snssEAAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Neutral_Books/bg9.png" alt="Book 9"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/The_48_Laws_of_Power/afCxg5sogvAC?hl=en&gbpv=0"
          ><img src="../static/Neutral_Books/bg10.png" alt="Book 10"
        /></a>
      </div>
    </div>
  </body>
</html>
