<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fear_Books</title>
    <link rel="stylesheet" href="../static/BookStyles.css">
    <link rel="shortcut icon" href="../static/bookimg.png" type="image/x-icon">
  </head>
  <body>
    <div class="header">
      <div class="box">
        <a
          href="https://www.google.co.in/books/edition/Feel_the_Fear_and_Do_it_Anyway/abSRDQAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Fear_Books/bg1.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/Monkey_Mind/W9j_xBdUDq8C?hl=en&gbpv=0"
          ><img src="../static/Fear_Books/bg2.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/Overcoming_the_Fear_of_Death/hgOVDAEACAAJ?hl=en"
          ><img src="../static/Fear_Books/bg3.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/From_Fearful_to_Fear_Free/lJc3DwAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Fear_Books/bg4.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/Fear/mCtBEAAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Fear_Books/bg5.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/The_Other_Great_Depression/Lwg4DgAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Fear_Books/bg6.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/Don_t_Fear_the_Reaper/SbJYEAAAQBAJ?hl=en&gbpv=0"
          ><img src="../static/Fear_Books/bg7.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/The_Next_Place/KtW9tAEACAAJ?hl=en"
          ><img src="../static/Fear_Books/bg8.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/Me_And_My_Fear/vBeREAAAQBAJ?hl=en"
          ><img src="../static/Fear_Books/bg9.png"
        /></a>
        <a
          href="https://www.google.co.in/books/edition/When_to_Fear_the_Living/9TVCtAEACAAJ?hl=en"
          ><img src="../static/Fear_Books/bg10.png"
        /></a>
      </div>
    </div>
  </body>
</html>
