<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angry Books</title>
    <link rel="stylesheet" href="../static/BookStyles.css" />
    <link rel="shortcut icon" href="../static/bookimg.png" type="image/x-icon">
    <link rel="shortcut icon" href="../static/bookimg.png" type="image/x-icon">
  </head>
  <body>
    <div class="header">
      <div class="box">
        <a
          href="https://www.google.co.in/books/edition/I_Am_Stronger_Than_Anger/NB5YzwEACAAJ?hl=en"
        >
          <img
            src="../static/Angry_Books/bg1.jpeg"
            alt="I Am Stronger Than Anger"
          />
        </a>
        <a
          href="https://www.google.co.in/books/edition/When_Sophie_Gets_Angry_Really_Really_Ang/Z4RzCwAAQBAJ?hl=en&gbpv=0"
        >
          <img
            src="../static/Angry_Books/bg2.jpeg"
            alt="When Sophie Gets Angry"
          />
        </a>
        <a
          href="https://www.google.co.in/books/edition/I_Am_Angry/T8orzgEACAAJ?hl=en"
        >
          <img src="../static/Angry_Books/bg3.jpeg" alt="I Am Angry" />
        </a>
        <a
          href="https://www.google.co.in/books/edition/The_Red_Book/KF6kzQEACAAJ?hl=en"
        >
          <img src="../static/Angry_Books/bg4.png" alt="The Red Book" />
        </a>
        <a
          href="https://www.google.co.in/books/edition/When_I_Am_Angry/5BoNxgEACAAJ?hl=en"
        >
          <img src="../static/Angry_Books/bg5.png" alt="When I Am Angry" />
        </a>
        <a
          href="https://www.google.co.in/books/edition/Never_Get_Angry_Again/B7YoDwAAQBAJ?hl=en&gbpv=0"
        >
          <img
            src="../static/Angry_Books/bg6.png"
            alt="Never Get Angry Again"
          />
        </a>
        <a
          href="https://www.google.co.in/books/edition/I_Feel_Angry/OwqUzQEACAAJ?hl=en"
        >
          <img src="../static/Angry_Books/bg7.png" alt="I Feel Angry" />
        </a>
        <a
          href="https://www.google.co.in/books/edition/When_I_Feel_Angry/p0w3EAAAQBAJ?hl=en"
        >
          <img src="../static/Angry_Books/bg8.png" alt="When I Feel Angry" />
        </a>
        <a
          href="https://www.google.co.in/books/edition/In_My_Heart/WkpVEAAAQBAJ?hl=en&gbpv=0"
        >
          <img src="../static/Angry_Books/bg9.png" alt="In My Heart" />
        </a>
        <a
          href="https://www.google.co.in/books/edition/Enigma_Variations/xBFeDAAAQBAJ?hl=en&gbpv=0"
        >
          <img src="../static/Angry_Books/bg10.png" alt="Enigma Variations" />
        </a>
      </div>
    </div>
  </body>
</html>
