<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surprise_Movies</title>
    <link rel="stylesheet" href="../static/Movies.css">
    <link rel="shortcut icon" href="../static/movie.jpg" type="image/x-icon">

</head>

<body>
    
        <div class="header">
            <div class="box">
                <a href="https://www.imdb.com/title/tt2096673/"><img src="../static/Surprise_Movies/bg1.png"></a>
                <a href="https://imdb.com/title/tt2380307/"><img src="../static/Surprise_Movies/bg2.png"></a>
                <a href="https://www.imdb.com/title/tt1490017/"><img src="../static/Surprise_Movies/bg14.png"></a>
                <a href="https://www.imdb.com/title/tt0910970/"><img src="../static/Surprise_Movies/bg15.png"></a>
                <a href="https://www.imdb.com/title/tt0029583/"><img src="../static/Surprise_Movies/bg5.png"></a>
                <a href="https://www.imdb.com/title/tt0120363/"><img src="../static/Surprise_Movies/bg6.png"></a>
                <a href="https://www.imdb.com/title/tt1049413/"><img src="../static/Surprise_Movies/bg8.png"></a>
                <a href="https://www.imdb.com/title/tt0435761/"><img src="../static/Surprise_Movies/bg9.png"></a>
                <a href="https://www.imdb.com/title/tt0266543/"><img src="../static/Surprise_Movies/bg10.png"></a>
                <a href="https://www.imdb.com/title/tt0032910/"><img src="../static/Surprise_Movies/bg11.png"></a>
                <a href="https://www.imdb.com/title/tt4468740/"><img src="../static/Surprise_Movies/bg3.png"></a>
                <a href="https://www.imdb.com/title/tt0114709/"><img src="../static/Surprise_Movies/bg13.png"></a>
                
            </div>
        </div>
    
</body>
</html>