<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sad_Movies</title>
    <link rel="stylesheet" href="../static/Movies.css" />
    <link rel="shortcut icon" href="../static/movie.jpg" type="image/x-icon" />
  </head>

  <body>
    <div class="header">
      <h1>Recommended For You</h1>
    
      <div class="movies-section">
        <h1 class="section-heading">Tamil Movies</h1>
        <div class="box">
          <a href="https://www.imdb.com/title/tt1421036/">
            <img src="../static/Sad_Movies/tamil/t1.png" />
          </a>
          <a href="https://www.imdb.com/title/tt2613012/">
            <img src="../static/Sad_Movies/tamil/t2.png" />
          </a>
          <a href="https://www.imdb.com/title/tt1609168/">
            <img src="../static/Sad_Movies/tamil/t3.png" />
          </a>
          <a href="https://www.imdb.com/title/tt1606183/">
            <img src="../static/Sad_Movies/tamil/t4.png" />
          </a>
          <a href="https://www.imdb.com/title/tt1735932/">
            <img src="../static/Sad_Movies/tamil/t5.png" />
          </a>
          <a href="https://www.imdb.com/title/tt2180477/">
            <img src="../static/Sad_Movies/tamil/t6.png" />
          </a>
          <a href="https://www.imdb.com/title/tt2564144/">
            <img src="../static/Sad_Movies/tamil/t7.png" />
          </a>
          <a href="https://www.imdb.com/title/tt2877104/">
            <img src="../static/Sad_Movies/tamil/t8.png" />
          </a>
          <a href="https://www.imdb.com/title/tt2889234/">
            <img src="../static/Sad_Movies/tamil/t9.png" />
          </a>
          <a href="https://www.imdb.com/list/ls096943724/">
            <img src="../static/more.png" />
          </a>
        </div>
      </div>
    
      <div class="movies-section">
        <h1 class="section-heading">English Movies</h1>
        <div class="box">
          <a href="https://www.imdb.com/title/tt0038650/">
            <img src="../static/Sad_Movies/bg1.png" />
          </a>
          <a href="https://www.imdb.com/title/tt0056592/">
            <img src="../static/Sad_Movies/bg2.png" />
          </a>
          <a href="https://www.imdb.com/title/tt0075148/">
            <img src="../static/Sad_Movies/bg4.png" />
          </a>
          <a href="https://www.imdb.com/title/tt0078902/">
            <img src="../static/Sad_Movies/bg8.png" />
          </a>
          <a href="https://www.imdb.com/title/tt0031679/">
            <img src="../static/Sad_Movies/bg5.png" />
          </a>
          <a href="https://www.imdb.com/title/tt0091217/">
            <img src="../static/Sad_Movies/bg13.png" />
          </a>
          <a href="https://www.imdb.com/title/tt0050212/">
            <img src="../static/Sad_Movies/bg14.png" />
          </a>
          <a href="https://www.imdb.com/title/tt0056241/">
            <img src="../static/Sad_Movies/bg15.png" />
          </a>
          <a href="https://www.imdb.com/title/tt0036868/">
            <img src="../static/Sad_Movies/bg11.png" />
          </a>
          <a href="https://www.imdb.com/list/ls042312619/">
            <img src="../static/more.png" />
          </a>
        </div>
      </div>
    </div>
    
  </body>
</html>
