<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sad_Movies</title>
    <link rel="stylesheet" href="../static/Movies.css" />
    <link rel="shortcut icon" href="../static/movie.jpg" type="image/x-icon" />
  </head>

  <body>
    <div class="header">
      <h1>Recommended For You</h1>

      <div class="movies-section">
        <h1 class="section-heading">Tamil Movies</h1>
        <div class="box">
          <a href="https://www.imdb.com/title/tt1421036/">
            <img src="../static/Sad_Movies/tamil/t1.png" />
          </a>
          <a href="https://www.imdb.com/title/tt11580854/">
            <img src="../static/Neutral_Movies/tamil/t3.png" />
          </a>
          <a href="https://www.imdb.com/title/tt1609168/">
            <img src="../static/Sad_Movies/tamil/t3.png" />
          </a>
          <a href="https://www.imdb.com/title/tt26548265/"
            ><img src="../static/Neutral_Movies/tamil/t1.png"
          /></a>
          <a href="https://www.imdb.com/title/tt9900782/"
            ><img src="../static/Neutral_Movies/tamil/t2.png"
          /></a>
          <a href="https://www.imdb.com/title/tt2180477/">
            <img src="../static/Sad_Movies/tamil/t6.png" />
          </a>
          <a href="https://www.imdb.com/title/tt2564144/">
            <img src="../static/Sad_Movies/tamil/t7.png" />
          </a>
          <a href="https://www.imdb.com/title/tt2877104/">
            <img src="../static/Sad_Movies/tamil/t8.png" />
          </a>
          <a href="https://www.imdb.com/title/tt2889234/">
            <img src="../static/Sad_Movies/tamil/t9.png" />
          </a>
          <a href="https://www.imdb.com/india/top-rated-tamil-movies/">
            <img src="../static/more.png" />
          </a>
        </div>
      </div>

      <div class="movies-section">
        <h1 class="section-heading">English Movies</h1>
        <div class="box">
          <a href="https://www.imdb.com/title/tt5052448/"
            ><img src="../static/Neutral_Movies/bg1.png"
          /></a>
          <a href="https://www.imdb.com/title/tt0010323/"
            ><img src="../static/Neutral_Movies/bg2.png"
          /></a>
          <a href="https://www.imdb.com/title/tt6644200/"
            ><img src="../static/Neutral_Movies/bg3.png"
          /></a>
          <a href="https://www.imdb.com/title/tt0054215/"
            ><img src="../static/Neutral_Movies/bg4.png"
          /></a>
          <a href="https://www.imdb.com/title/tt3235888/"
            ><img src="../static/Neutral_Movies/bg13.png"
          /></a>
          <a href="https://www.imdb.com/title/tt1139797/"
            ><img src="../static/Neutral_Movies/bg14.png"
          /></a>
          <a href="https://www.imdb.com/title/tt0026138/"
            ><img src="../static/Neutral_Movies/bg8.png"
          /></a>
          <a href="https://www.imdb.com/title/tt0021884/"
            ><img src="../static/Neutral_Movies/bg11.png"
          /></a>
          <a href="https://www.imdb.com/title/tt0063350/"
            ><img src="../static/Neutral_Movies/bg15.png"
          /></a>
          <a href="https://www.imdb.com/list/ls042312619/">
            <img src="../static/more.png"
          /></a>
        </div>
      </div>
    </div>
  </body>
</html>
