<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fear_Movies</title>
    <link rel="stylesheet" href="../static/Movies.css" />
    <link rel="shortcut icon" href="../static/movie.jpg" type="image/x-icon">

  </head>

  <body>
    <div class="header">
      <h1>Recommended For You</h1>

      <div class="movies-section">
        <h1 class="section-heading">Tamil Movies</h1>
        <div class="box">
            <a href="https://www.imdb.com/title/tt4987556/">
              <img src="../static/Fear_Movies/Tamil/Thani oruvan.png" />
            </a>
            <a href="https://www.imdb.com/title/tt7019820/">
              <img src="../static/Fear_Movies/Tamil/velaikaran.png" />
            </a>
            <a href="https://www.imdb.com/title/tt5290414/">
              <img src="../static/Fear_Movies/Tamil/etti.png" />
            </a>
            <a href="https://www.imdb.com/title/tt0459449/"
              > <img src="../static/Fear_Movies/Tamil/m kumaran.png" />
            </a>
            <a href="https://www.imdb.com/title/tt0375571/"
              > <img src="../static/Fear_Movies/Tamil/ayutha eluthu.png" />
            </a>   
          </div>
        </div>

        <div class="movies-section">
          <h1 class="section-heading">English Movies</h1>
          <div class="box">
        <a href="https://www.imdb.com/title/tt0377092/"
          ><img src="../static/Fear_Movies/bg1.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0147800/"
          ><img src="../static/Fear_Movies/bg15.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0091790/"
          ><img src="../static/Fear_Movies/bg3.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0117979/"
          ><img src="../static/Fear_Movies/bg4.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0120032/"
          ><img src="../static/Fear_Movies/bg5.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0054698/"
          ><img src="../static/Fear_Movies/bg6.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0112697/"
          ><img src="../static/Fear_Movies/bg7.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0247638/"
          ><img src="../static/Fear_Movies/bg8.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0250494/"
          ><img src="../static/Fear_Movies/bg10.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0251127/"
          ><img src="../static/Fear_Movies/bg11.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0302640/"
          ><img src="../static/Fear_Movies/bg14.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0093565/"
          ><img src="../static/Fear_Movies/bg2.png"
        /></a>
      </div>
    </div>
  </body>
</html>
