<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angry_Movies</title>
    <link rel="stylesheet" href="../static/Movies.css">
    <link rel="shortcut icon" href="../static/movie.jpg" type="image/x-icon">
  </head>

  <body>
    <div class="header">
      <h1>Recommended For You</h1>

      <div class="movies-section">
        <h1 class="section-heading">Tamil Movies</h1>
        <div class="box">
          <a href="https://www.imdb.com/title/tt5860564/"
          ><img src="../static/Angry_Movies/Tamil/t1.png"
        /></a>
        <a href="https://www.imdb.com/title/tt4087850/"
          ><img src="../static/Angry_Movies/Tamil/t2.png"
        /></a>
        <a href="https://www.imdb.com/title/tt27510150/"
          ><img src="../static/Angry_Movies/Tamil/t3.png"
        /></a>
        <a href="https://www.imdb.com/title/tt5128328/"
          ><img src="../static/Angry_Movies/Tamil/t4.png"
        /></a>
        <a href="https://www.imdb.com/title/tt11143108/"
        ><img src="../static/Angry_Movies/Tamil/t5.png"
      /></a>

      <div class="movies-section">
        <h1 class="section-heading">English Movies</h1>
        <div class="box">
        <a href="https://www.imdb.com/title/tt5462602/"
          ><img src="../static/Angry_Movies/bg3.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0021749/"
          ><img src="../static/Angry_Movies/bg18.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0039628/"
          ><img src="../static/Angry_Movies/bg20.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0032904/"
          ><img src="../static/Angry_Movies/bg8.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0052357/"
          ><img src="../static/Angry_Movies/bg9.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0047296/"
          ><img src="../static/Angry_Movies/bg10.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0046250/"
          ><img src="../static/Angry_Movies/bg11.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0043278/"
          ><img src="../static/Angry_Movies/bg13.png"
        /></a>
        <a href="https://www.imdb.com/title/tt2402927/"
          ><img src="../static/Angry_Movies/bg14.png"
        /></a>
        <a href="https://www.imdb.com/title/tt2209418/"
          ><img src="../static/Angry_Movies/bg15.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0040725/"
          ><img src="../static/Angry_Movies/bg16.png"
        /></a>
        <a href="https://www.imdb.com/title/tt0043265/"
          ><img src="../static/Angry_Movies/bg17.png"
        /></a>
      </div>
    </div>
  </body>
</html>
