<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sad_Songs</title>
    <link rel="stylesheet" href="../static/Songs.css" />
    <link
      rel="shortcut icon"
      href="../static/songicon.jpeg"
      type="image/x-icon"
    />
  </head>

  <body>
    <div class="header">
      <h1 style="color: aliceblue;">Recommended For You</h1>
      <div class="movies-section">
        <h1 class="section-heading" style="color: aliceblue;">Tamil Movies</h1>

        <div class="box">
          <a href="https://open.spotify.com/track/6S6DFMfhwIZYHUffVzuWOI"
            ><img src="../static/Sad_Songs/tamil/t1.png"
          /></a>
          <a href="https://open.spotify.com/track/1qfanYrmrh7xDSvt15acZ3"
            ><img src="../static/Sad_Songs/tamil/t2.png"
          /></a>
          <a href="https://open.spotify.com/track/0ew71PqPi7ehntkabL9W4c"
            ><img src="../static/Sad_Songs/tamil/t3.png"
          /></a>
          <a href="https://open.spotify.com/track/0n84wNo6l1WDuAPDy5uM7Z"
            ><img src="../static/Sad_Songs/tamil/t4.png"
          /></a>
          <a href="https://open.spotify.com/track/2LLZkWMReCWhgTrHuRh6dV"
            ><img src="../static/Sad_Songs/tamil/t5.png"
          /></a>
          <a href="https://open.spotify.com/track/4HdzYTQiouB9BVYX7JOrhh"
            ><img src="../static/Sad_Songs/tamil/t6.png"
          /></a>
          <a href="https://open.spotify.com/track/6YcBBZVKYYRirfeAt6BeGA"
            ><img src="../static/Sad_Songs/tamil/t7.png"
          /></a>
          <a href="https://open.spotify.com/track/04fYoQSUTfPhVjyW8aXkix"
            ><img src="../static/Sad_Songs/tamil/t8.png"
          /></a>
          <a href="https://open.spotify.com/track/4CoyR1dAtmkgvEOWrRCFla"
            ><img src="../static/Sad_Songs/tamil/t9.png"
          /></a>
          <a href="https://open.spotify.com/playlist/5q8bruCWqDDoDiOMHKFg5M"
            ><img src="../static/more.png"
          /></a>
        </div>
      </div>
      <div class="movies-section">
        <h1 class="section-heading" style="color: aliceblue;">English Movies</h1>
        <div class="box">
          <a href="https://open.spotify.com/artist/3gacryguGmpmCvgPGt2CBI"
            ><img src="../static/Sad_Songs/bg13.png"
          /></a>
          <a href="https://open.spotify.com/album/2r1FPqNY8op3T37PYORDVH"
            ><img src="../static/Sad_Songs/bg5.png"
          /></a>
          <a href="https://open.spotify.com/artist/189I14HgoKkmB02CoEN2po"
            ><img src="../static/Sad_Songs/bg2.png"
          /></a>
          <a href="https://open.spotify.com/track/1r27r8RJEX2Rq3Kr3Afbhv"
            ><img src="../static/Sad_Songs/bg8.png"
          /></a>
          <a href="https://open.spotify.com/artist/5wn7ofJrDNHlKovbljawzS"
            ><img src="../static/Sad_Songs/bg9.png"
          /></a>
          <a href="https://open.spotify.com/album/60Feba9tQ2HPbZvNbNriyu"
            ><img src="../static/Sad_Songs/bg11.png"
          /></a>
          <a href="https://open.spotify.com/artist/79EcOZxAxp3WBXD8BqTmJN"
            ><img src="../static/Sad_Songs/bg14.png"
          /></a>
          <a href="https://open.spotify.com/artist/0A218SQBfhfYVBykWGmIVc"
            ><img src="../static/Sad_Songs/bg4.png"
          /></a>
          <a href="https://open.spotify.com/artist/6MnWA8xVW1sEzV9s7wXpQb"
            ><img src="../static/Sad_Songs/bg7.png"
          /></a>
          <a href="https://open.spotify.com/artist/66CXWjxzNUsdJxJ2JdwvnR"
            ><img src="../static/more.png"
          /></a>
        </div>
      </div>
    </div>
  </body>
</html>
