<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fear_Songs</title>
    <link rel="stylesheet" href="../static/Songs.css">
    <link rel="shortcut icon" href="../static/songicon.jpeg" type="image/x-icon">

</head>

<body>
        <div class="header">
            <div class="box">
                <a href="https://open.spotify.com/track/20on25jryn53hWghthWWW3?autoplay=true"><img src="../static/Fear_Songs/bg1.png"></a>
                <a href="https://open.spotify.com/track/3uUuGVFu1V7jTQL60S1r8z?autoplay=true"><img src="../static/Fear_Songs/bg2.png"></a>
                <a href="https://open.spotify.com/album/278z9UXJaMNDH9Bel9uAxV"><img src="../static/Fear_Songs/bg3.png"></a>
                <a href="https://open.spotify.com/album/31t9iLimmriRn3Mviqywzw"><img src="../static/Fear_Songs/bg14.png"></a>
                <a href="https://open.spotify.com/artist/2w9zwq3AktTeYYMuhMjju8"><img src="../static/Fear_Songs/bg5.png"></a>
                <a href="https://open.spotify.com/album/3udIvIqyBG1RrHxXrUZDoK"><img src="../static/Fear_Songs/bg6.png"></a>
                <a href="https://open.spotify.com/album/6AVjuEsz5TVQrOoRGIaicN"><img src="../static/Fear_Songs/bg13.png"></a>
                <a href="https://open.spotify.com/album/4l9wMVL4XAM5jPMXP5RAbL"><img src="../static/Fear_Songs/bg8.png"></a>
                <a href="https://open.spotify.com/track/3sa06xVNmLLYIxdNNmVQN8"><img src="../static/Fear_Songs/bg9.png"></a>
                <a href="https://open.spotify.com/album/5itVTi6rI3MlOcWBxROxd9"><img src="../static/Fear_Songs/bg10.png"></a>
                <a href="https://open.spotify.com/album/35Q09Y0b7ZxOoCdF7sBiGf"><img src="../static/Fear_Songs/bg11.png"></a>
                <a href="https://open.spotify.com/track/7AVyve7cFYTd51ha5i9kE2"><img src="../static/Fear_Songs/bg12.png"></a>
                
               
                
            </div>
        </div>
    
</body>
</html>