<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy_Songs</title>
    <link rel="stylesheet" href="../static/Songs.css">
    <link rel="shortcut icon" href="../static/songicon.jpeg" type="image/x-icon">

</head>

<body>
        <div class="header">
            <div class="box">
                <a href="https://open.spotify.com/track/52xJxFP6TqMuO4Yt0eOkMz"><img src="../static/Happy_Songs/bg1.png"></a>
                <a href="https://open.spotify.com/track/02MWAaffLxlfxAUY7c5dvx?autoplay=true"><img src="../static/Happy_Songs/bg2.png"></a>
                <a href="https://open.spotify.com/track/3UGIZ8qcrMTwzLbx6Kttqt?autoplay=true"><img src="../static/Happy_Songs/bg14.png"></a>
                <a href="https://open.spotify.com/track/3LnpBazWpD31QMTn6LgVGv?autoplay=true"><img src="../static/Happy_Songs/bg3.png"></a>
                <a href="https://open.spotify.com/track/7yZcC4JIdQkXKaigJxrKSn?autoplay=true"><img src="../static/Happy_Songs/bg5.png"></a>
                <a href="https://open.spotify.com/track/503OTo2dSqe7qk76rgsbep?autoplay=true"><img src="../static/Happy_Songs/bg7.png"></a>
                <a href="https://open.spotify.com/track/5Z9KJZvQzH6PFmb8SNkxuk?autoplay=true"><img src="../static/Happy_Songs/bg8.png"></a>
                <a href="https://open.spotify.com/track/1175r6ZmkUjX8dRJLz9Ohk?autoplay=true"><img src="../static/Happy_Songs/bg9.png"></a>
                <a href="https://open.spotify.com/track/3UGIZ8qcrMTwzLbx6Kttqt?autoplay=true"><img src="../static/Happy_Songs/bg14.png"></a>
                <a href="https://open.spotify.com/track/5HKxZt4NmNGpLotbPWm2IW?autoplay=true"><img src="../static/Happy_Songs/bg11.png"></a>
                <a href="https://open.spotify.com/track/4fouWK6XVHhzl78KzQ1UjL?autoplay=true"><img src="../static/Happy_Songs/bg12.png"></a>
                <a href="https://open.spotify.com/track/4GcmlWvhVYsb8vTEaq5492?autoplay=true"><img src="../static/Happy_Songs/bg13.png"></a>
                
            </div>
        </div>
    
</body>
</html>